@import "../../variables.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-text {
    padding: 0 32px;
  }
  img.image-divider {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }
  h2 {
    font-weight: 500;
  }

  span {
    font-size: 32px;
  }
}
