@import "../../variables.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  img.image-divider {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }
  .container {
    padding: $side-margin;
    max-width: 600px;

    h2 {
      font-weight: 500;
    }

    span {
      font-size: 32px;
    }
  }
}
