.carousel {
  .carousel-item {
    color: white;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;

    .text {
      max-width: 600px;
    }

    span {
      position: absolute;
      top: 35%;
      left: 50%;
      width: 75%;
      text-align: center;
      transform: translateX(-50%);
    }
  }

  .slick-dots {
    bottom: 25px;

    li button:before {
      color: white;
    }
  }
}
