@import "../../../variables.scss";

.recipe-carousel {
  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
  }

  .carousel-item-recipe {
    display: flex !important;
    height: 100%;

    & > * {
      margin: 16px;
      height: 90%;
      width: 100%;
    }
  }

  .slick-prev,
  .slick-next {
    &::before {
      color: $classic-blue;
    }
  }

  // Move arrows on top of images
  .slick-prev {
    left: 22px;
    z-index: 1;
  }
  .slick-next {
    right: 22px;
  }

  .slick-dots {
    bottom: 25px;

    li button:before {
      color: white;
    }
  }
}
