@import "../../variables.scss";

.contact {
  text-align: center;

  .contact-info-text-wrapper {
    padding: $page-container-margin;

    .title {
      display: block;
      margin-bottom: $spacing-l;
    }
  }

  .header {
    margin-bottom: $spacing-m;
  }

  .qna {
    background-color: $classic-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-l;

    & * {
      color: white;
    }

    button {
      color: $classic-blue;
    }

    .container {
      display: grid;
      grid-gap: $spacing-s;
      justify-items: center;
    }
  }
}
