@import "../../variables.scss";

.home {
  img.image-divider {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
  }

  .products-home {
    &.container {
      max-width: 900px;
    }
    .header {
      text-align: center;
    }
  }

  .what {
    text-align: center;
  }

  .icon-divider {
    display: flex;
    margin: 64px auto;
  }
}
