@import "../../variables.scss";

.home {
  img.image-divider {
    width: 100%;
    object-fit: contain;
  }

  .container {
    margin: auto;
    max-width: 600px;
  }

  .products {
    padding: $side-margin;

    h2 {
      font-weight: 500;
    }
  }

  .what,
  .story {
    padding: $side-margin;

    h2 {
      font-weight: 500;
    }

    span {
      font-size: 32px;
    }
  }

  .what {
    text-align: center;

    h2 {
      font-size: 16px;
    }
  }

  button.link-button {
    background-color: $classic-blue;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 32px;
    padding: 8px 16px;
  }

  .icon-divider {
    display: flex;
    margin: 64px auto;
  }
}
