@import "../../variables.scss";

.product {
  word-break: break-word;
  hyphens: auto;
  .container {
    .header {
      margin-bottom: $spacing-m;
      .sub-header {
        font-weight: bold;
      }
    }
    .section-wrapper {
      display: grid;
      grid-gap: $spacing-m;

      .section {
        .sub-title {
          font-weight: bold;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .nutritions-container {
    align-items: center;
    background-color: $classic-blue;
    display: flex;
    flex-direction: column;

    & * {
      color: white;
    }

    .nutritions-wrapper {
      display: flex;
      justify-content: space-between;
      margin: $spacing-m auto;
      max-width: 400px;

      table {
        border-collapse: collapse;
        th {
          text-align: left;
          padding-bottom: $spacing-s;
        }
        td {
          padding: $spacing-xs;

          & * {
            margin: 0;
          }
          &:first-child:not(:last-child) {
            border-right: 2px solid;
          }
          &.indent {
            padding-left: $spacing-s;
          }
        }
      }

      .nutritions-divider {
        height: auto;
        background-color: white;
        width: 2px;
      }
      .nutritions-amount,
      .nutritions-name {
        white-space: pre-wrap;
        padding: 16px;
      }
    }
  }
  img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }
}
