.recipe {
  .content-wrapper {
    padding: 32px;
    display: grid;
    grid-gap: 32px;
  }

  .list {
    display: grid;
    grid-gap: 8px;
  }

  h1 {
    margin: 0;
  }

  h2 {
    font-size: 1rem;
  }

  img.image-header {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }
}
