@import '../../variables.scss';

.products-cards {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 16px;
  justify-content: center;

  .card-container {
    height: 100%;
  }

  @media screen and (min-width: $screen-m) {
    grid-template-columns: 1fr 1fr;
  }
}