@import "../../variables.scss";

.products {
  margin-top: $navbar-height;

  .container {
    max-width: 900px;
  }
  .header {
    padding-bottom: 32px;
  }
  img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
  }
}

.products-about {
  background-color: $classic-blue;
  display: flex;
  justify-content: center;
  padding: 32px;

  & * {
    color: white;
  }
}
