@import "./variables.scss";

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"),
    url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

body {
  color: $classic-blue;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $classic-blue;
    font-family: "Poppins", "Helvetica Neue", sans-serif;
    line-height: 2rem;
    margin-top: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.17rem;
  }

  a,
  p,
  span {
    color: $classic-blue;
    text-decoration: none;
    line-height: 1.5rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: auto;
  padding: $page-container-margin;
  max-width: 400px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;

  div {
    height: 100%;
  }
}
